<div class="privacy-page">
    <h2>Privacy Policy</h2>
    <p>Last updated: 03<sup>rd</sup> September 2017</p>

    <p>The privacy of each user is most important to us. We do not collect any information or data from the user. This app works in offline as well as online mode. This Privacy Policy is effective as of 03<sup>rd</sup> September 2017 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page. We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy. If we make any material changes to this Privacy Policy, we will notify you by placing a prominent notice on our website.</p>

    <h3>Contact</h3>
    <p>If you have any questions about this Privacy Policy, please email us at <a href="mailto:thelittletechie@gmail.com">thelittletechie@gmail.com</a></p>
</div>